h1 {
  color: #000000;
  font-size: 36px;
}

h2 {
  color: #000000;
}

p {
  font-size: 20px;
}

li {
  margin-bottom: 8px;
}

ul {
  background-color: #F7F9FC;
  margin-top: 25px;
  padding: 30px 55px;
  border-radius: 8px;
}
